.body {
    background-color: lightgray;
    padding: 40px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "aside1"
    "main"
    "aside2"
    "footer";
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    background-color: #B1B5BE;
}

.header, .article, .column-wrapper, .column, .aside1, .aside2, .footer {
    border-radius: .5rem;
}

header {
    grid-area: header;
    background-color: #9F2063;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.aside1 {
    grid-area: aside1;
    background-color: #116395;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3px;
    padding: 3px;
}

main { 
    background: #27ae60; 
    grid-area: main; 
}

.column-wrapper {
    display: grid;
    justify-content: space-between;
    margin-top: 1rem;
    
}

.column {
background-color: #c2185b;
  padding: 1rem;
  margin: 0 0.5rem;
  text-align: center;
}

.aside2 {
    grid-area: aside2;
    background-color: #25a4b5;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 2px 0;
    padding: 5px;
}

footer {
    grid-area: footer;
    background-color: #e06b26;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 2px 0;
    padding: 5px;
}

@media screen and (min-width: 1024px) {
    @media (min-width: 1024px) {
        .grid-container {
          grid-template-areas:
            "header  header  header"
            "aside1    main    aside2"
            "footer  footer  footer";
          grid-template-columns: 1fr 2fr 1fr;
        }
      }
}